<?xml version="1.0" ?>
<robot name="pal_sea_arm" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pal_sea_arm_moveit_config)/config/srdf/disable_collisions/pal_sea_arm_no-ee_rokubi.srdf.xacro" />
  <xacro:include filename="$(find pal_sea_arm_moveit_config)/config/srdf/disable_collisions/pal-pro-gripper_rokubi.srdf.xacro" />
    <disable_collisions link1="arm_1_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_1_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_1_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_1_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_1_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_2_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_2_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_2_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_2_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_2_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_base_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_3_link" link2="gripper_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_base_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_4_link" link2="gripper_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_base_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_5_link" link2="gripper_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_base_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_6_link" link2="gripper_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_base_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_7_link" link2="gripper_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_root_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_root_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_root_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_root_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_root_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_base_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_fingertip_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_fingertip_left_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_fingertip_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_fingertip_right_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_inner_finger_left_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_inner_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_inner_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_inner_finger_right_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_outer_finger_left_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_outer_finger_right_dummy_mimic_link" reason="Never"/>
    <disable_collisions link1="arm_tool_link" link2="gripper_outer_finger_right_link" reason="Never"/>
    <disable_collisions link1="gripper_base_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_fingertip_left_dummy_mimic_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_fingertip_left_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_fingertip_right_dummy_mimic_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_fingertip_right_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_inner_finger_left_dummy_mimic_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_inner_finger_left_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_inner_finger_right_dummy_mimic_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_inner_finger_right_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_outer_finger_left_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_outer_finger_right_dummy_mimic_link" link2="world" reason="Never"/>
    <disable_collisions link1="gripper_outer_finger_right_link" link2="world" reason="Never"/>
</robot>
